<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.jmdac.ModuleAdapter"
            icon="icons/icon_jmdac.xpm"
            id="jmdac"
            name="Jmdac">
         <elements>
            <element
                  element="org.but4reuse.adapters.jmdac.ModuleElement">
            </element>
         </elements>
      </adapter>
   </extension>

</plugin>
